/* CSS declarations go here */
html {
	font-size: 16px;
}

body {
	font-family: Georgia, serif;
	font-size: 62.5%;
}

html, body {
	height: 100%;
}

#menu {
	height: 100%;
	.gradient(hsla(74, 64%, 59%, 1); hsla(74, 64%, 59%, 0.7));
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-y: auto;
	width: 20%;
	position:fixed;
	display: inline-block;
	padding: 0.5em 0.2em 0.5em 1em;

	ul {
		list-style-type: none;
		
		li {
		font-size: 1.8em;
			&:hover {
				color: white;
				cursor: pointer;
			}
		}

	}
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

#entries {
	width: 78%;
	position: absolute;
	display: inline-block;
	margin-left: 2%;
	font-size: 2em;
	left: 18%;
}

form.create-entry {
	font-size: 1em;

	.entry-box {
		width: 80%;
		height: auto;
		div {
			display: inline-block;
			&.left-input {
				width: 73%;
			}
		}
		input, textarea {
			padding-left: 0.3rem;
			border: none;
			box-shadow: none;
			width: 95%;
			margin: 0.5%;
			&:focus {
				border: none;
				box-shadow: 0px 0px 6px blue;

			}
		}

		select {
			background-color: white;
			width: 100%;
		}
	}

	#entry-title {
		font-weight: bold;
		font-size: 1.6em;
	}

	#entry-url {
		color: blue;
	}
}

.entry-box {
	position: relative;
	height: 170px;
	margin: 2%;
	border: 1px solid black;
	display: inline-block;
	width: 25%;
	box-shadow: 3px 3px 6px #000;
	padding: 0.5em;

	h1 {
		display: inline;
		clear: left;
		font-size: 1.6em;
	}

	p {
		color: black;
		font-size: 1em;
		margin-top: 2%;
	}

	.language {
		
		img {
			width: 50px;
			height: auto;
		}
	}
}

button.delete-entry {
	position: absolute;
  top: 77%;
  left: 85%;
}

.gradient(@color1; @color2) {
	background: -webkit-linear-gradient(@color1, @color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(@color1, @color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(@color1, @color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(@color1, @color2); /* Standard syntax */
}

li.selected {
	color: white;
	background-color: brown;
}

@post-color: #E5FFDB;
@lib-color: lavender;
@service-color: #FDFFC3;

.entry-box {
	&.post {
		background-color: @post-color;
		&:hover {
			background-color: darken(@post-color, 15%);
			box-shadow: 3px 3px 10px darken(@post-color, 50%);
		}
	}
	&.lib {
		background-color: @lib-color;
		&:hover {
			background-color: darken(@lib-color, 15%);
			box-shadow: 3px 3px 10px darken(@lib-color, 50%);
		}
	}
	&.service {
		background-color: @service-color;
		&:hover {
			background-color: darken(@service-color, 15%);
			box-shadow: 3px 3px 10px darken(@service-color, 50%);
		}
	}
}